@model L02P02_2022_UT_650.Models.Autor

<h2>Agregar Nuevo Autor</h2>
<form method="post">
    <label>Nombre</label>
    <input type="text" name="Nombre" class="form-control" required>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
<a href="/Autores" class="btn btn-secondary">Volver</a>
